/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.bg-blue {
    background-color: #031426 !important;
}

.bg-blue-text {
    color: #00C7FF !important;
}

.bg-blue-light {
    background-color: #00C7FF !important;
}


body {
    color: #FFFFFF !important;
}
h1 {
     color: #00C7FF !important;
 }
h2 {
    color: #00C7FF !important;
}
h3 {
    color: #00C7FF !important;
}
h4 {
    color: #00C7FF !important;
}

.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    top: -50px;
    z-index: 100;
    height: 12px;
    width: 12px;
    margin: 0 8px;
    background-color: #ffffff;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}

.slider .indicators .indicator-item.active {
    background-color: #00C7FF;
}


@media only screen and (min-width: 360px) {
    .custom-text {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 390px) {
    .custom-text {
        font-size: 1.224rem;
    }
}

@media only screen and (min-width: 420px) {
    .custom-text {
        font-size: 1.248rem;
    }
}

@media only screen and (min-width: 450px) {
    .custom-text {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 480px) {
    .custom-text {
        font-size: 1.11rem;
    }
}

@media only screen and (min-width: 510px) {
    .custom-text {
        font-size: 1.12rem;
    }
}

@media only screen and (min-width: 540px) {
    .custom-text {
        font-size: 1.144rem;
    }
}

@media only screen and (min-width: 570px) {
    .custom-text {
        font-size: 1.168rem;
    }
}

@media only screen and (min-width: 600px) {
    .custom-text {
        font-size: 1.192rem;
    }
}

@media only screen and (min-width: 630px) {
    .custom-text {
        font-size: 1.216rem;
    }
}

@media only screen and (min-width: 660px) {
    .custom-text {
        font-size: 1.24rem;
    }
}

@media only screen and (min-width: 690px) {
    .custom-text {
        font-size: 1.264rem;
    }
}

@media only screen and (min-width: 720px) {
    .custom-text {
        font-size: 1.288rem;
    }
}

@media only screen and (min-width: 750px) {
    .custom-text {
        font-size: 1.312rem;
    }
}

@media only screen and (min-width: 780px) {
    .custom-text {
        font-size: 1.336rem;
    }
}

@media only screen and (min-width: 810px) {
    .custom-text {
        font-size: 1.36rem;
    }
}

@media only screen and (min-width: 840px) {
    .custom-text {
        font-size: 1.384rem;
    }
}

@media only screen and (min-width: 870px) {
    .custom-text {
        font-size: 1.408rem;
    }
}

@media only screen and (min-width: 900px) {
    .custom-text {
        font-size: 1.432rem;
    }
}

@media only screen and (min-width: 930px) {
    .custom-text {
        font-size: 1.456rem;
    }
}

@media only screen and (min-width: 960px) {
    .custom-text {
        font-size: 1.48rem;
    }
}

@media only screen and (max-width: 360px) {
    .custom-text {
        font-size: 1.1rem;
    }
}